@inherits LayoutComponentBase

<div class="d-flex vh-100 overflow-hidden">
    <article class="flex-grow-1 overflow-auto p-0">
        @Body
    </article>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
